body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial,
    sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;
  background-color: rgb(16, 82, 12);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
}
body::-webkit-scrollbar {
  display: none;
}

.background {
  position: absolute;
  background-attachment: fixed;
  width: 100%;
  height: 140%;
  background-image: url("images/table.png");
  background-size: cover;
  mix-blend-mode: hard-light;
  filter: blur(6px);
  z-index: -1;
  opacity: 0.4;
}
.gameArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.centerCollumn {
  width: 700px;
  flex-grow: 1;
}

.glass {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 50px;
  margin-top: 50px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.chips:hover {
  transform: scale(1.15);
}
.chips {
  transition-duration: 1s;
}

.bets {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 30px;
  flex-wrap: wrap;
}

.bets2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 60px;
  padding-bottom: 0;
  padding-top: 0;
}
.chipsHelp {
  width: 100%;
  display: flex;
  justify-content: center;
}
.chipsHelpText {
  width: 50%;
}
h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

button {
  color: #fff;
  background: transparent;
  border-radius: 100px;
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.017) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.05) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset;
  transition-duration: 200ms;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.017) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset;
}

button:active {
  box-shadow: rgba(0, 0, 0, 0.017) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.25) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset;
}
.statButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.stat {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.stats {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card {
  margin: 0px 5px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media screen and (max-width: 800px) {
  .centerCollumn {
    width: 500px;
  }
  .bets2 {
    padding: 80px;
    padding-bottom: 0;
    padding-top: 0;
  }
}

@media screen and (max-width: 550px) {
  .centerCollumn {
    width: 400px;
  }
  .bets2 {
    padding: 60px;
  }
}
@media screen and (max-width: 450px) {
  .centerCollumn {
    width: 350px;
  }
}
@media screen and (max-width: 400px) {
  .centerCollumn {
    width: 300px;
  }
}

.hitButton {
  margin-bottom: 5px;
}

.statscontainer {
  text-align: left;
  padding: 40px;
  padding-bottom: 20px;
  padding-top: 0px;
}

ul li {
  list-style: none;
}

ul {
  padding-left: 0;
}
